/* Reseta margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral */
html, body {
    height: 100%; /* Garante que o body ocupe toda a altura da viewport */
    margin: 0;
    display: flex;
    flex-direction: column; /* Torna o body um contêiner flex */
}

body {
    font-family: 'Roboto', sans-serif; /* Usando a nova fonte */
    line-height: 1.8;
    background: url('imagemfundo/plantafundo.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

/* Header e conteúdo principal */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(24, 23, 24, 0.8);
    color: #fff;
    padding: 10px 20px;
    height: 80px;
}
.typing {
    background-color: white; /* Cor de fundo branco */
    padding: 20px; /* Espaçamento interno para afastar o texto das bordas */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar ainda mais */
    max-width: 800px; /* Largura máxima para o quadrado não ocupar toda a página */
    margin: 20px auto; /* Centraliza o quadrado na página */
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Faz o conteúdo crescer e ocupar o espaço disponível */
section {
    padding: 20px;
    text-align: justify;
    flex-grow: 1; /* Garante que o conteúdo ocupe o espaço entre o header e o footer */
}

#logo {
    width: 80px;
    height: auto;
}

/* Botão do WhatsApp */
#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#whatsapp:hover {
    background-color: #128C7E;
}

/* Estilos para footer */
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #181a18;
    color: rgba(255, 255, 255, 0.8);
    margin-top: auto; /* Empurra o footer para o final da página */
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}
footer ul li a:hover {
    color: #0077b5; /* Cor azul do LinkedIn ao passar o mouse */
}

/* Botão de assistente */
#assistant-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #f1c40f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#assistant-box {
    position: fixed;
    bottom: 130px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    #logo {
        max-width: 80px;
    }

    section {
        padding: 10px;
    }

    footer ul {
        display: flex;
        flex-direction: column;
    }

    #whatsapp {
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    section {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    #whatsapp {
        font-size: 18px;
    }
}
